*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    color: white;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav li{
    list-style: none;
    margin-right: 100px;
}

h2{
    position: relative;
    left: 45%;
    top: 250px;
}

h3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.movie-img-wrapper{
    background-size: cover;
    width: 150px;
    height: 200px;
}

.movie-holder{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}

.available-seat{
    background-color: green;
}

.unavailable-seat{
    background-color: red;
}

.gridCSS{
    margin: 5px 5px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: medium;
}

.selected-seat{
    border: 4px outset rgb(0, 0, 0);
    /* border: 4px solid black; */
}

.leftGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.rightGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#booker-grid-holder{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    justify-content: center;
}

#book-ticket-btn{
    margin: 25px;
    position: absolute;
    left:44.5%;
}

#customer-detail-form{
    position: relative;
    left: 30.5%;
}

#Success{
    margin-top: 50px;
    position: relative;
    left: 45%;
}

.s-none{
    visibility: hidden;
}